.content{
  white-space: pre-wrap;
  width: calc(100% - 30px);
}

.viewCtn{
  display: flex;
  justify-content: center;
  /* background: white; */
}

.editCtn{
  composes: viewCtn;
  white-space: pre-wrap;
  border: 1px black solid;
  border-radius: 5px;
  /* padding: 0 10px; */
}

.pageLink{
  cursor: pointer;
  color: rgb(0, 0, 255);
}

.btnCtn{
  display: flex;
  justify-content: flex-end;
  position: sticky;
  /* right: 15px; */
  top: 0px;
}